# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Env files
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db
desktop.ini

# Vite
.vite/

# Coverage
coverage/

# IDE
.vscode/
